* {
  box-sizing: border-box;
}

body {
  background: #333;
  color: #bbb;
  font-family: Open Sans, sans-serif;
  font-size: 14px;
  line-height: 1.428571429;
  margin: 0 auto;
}

/* bắt đầu header mobile */
.header {
  height: 60px;
  border: 0;
  box-shadow: 0 0 1px 0 #adadad;
  position: fixed;
  background-color: #333;
  z-index: 1000;
  left: 0;
  right: 0;
  top: 0;
}


.header-logo {
  height: 60px;
  padding: 10px 0;
}

.header-logo a {
  display: block;
  padding: 9px 0;
}

.header-logo img {
  height: 22px;
}

.header-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  padding-left: 7px;
}

.header-mobile {
  position: fixed;
  background: rgba(0, 0, 0, .8);
  box-shadow: 0 0 10px #999;
  padding: 60px 10px 10px;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transform: translateX(-150%);
}

.header-mobile-input {
  font-size: 25px;
  margin-left: 10px;
}

.header-input:checked~.header-mobile {
  transform: translateX(0%);
}

.header-input:checked~.overlay {
  display: block;
}

.mobile-menu-close {
  font-size: 20px;
  position: fixed;
  right: 1rem;
  top: 10px;
  opacity: 0.5;
}

.header-mobile-logo {
  height: 60px;
  position: absolute;
  top: 20px;
  float: left;
}

.header-mobile-logo a {
  display: block;
  height: 20px;
}

.header-mobile-logo img {
  height: 22px;
}

.header-mobile-search {
  position: relative;
  width: 280px;
  padding-top: 20px;
}

.header-mobile-search input {
  background: 0 0;
  border: 1px solid #444;
  border-radius: 15px;
  display: block;
  font-size: 13px;
  height: 30px;
  padding-left: 10px;
  padding-right: 30px;
  width: 100%;
}

.header-mobile-search i {
  color: #999;
  cursor: pointer;
  font-size: 15px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  position: absolute;
  right: 5px;
  top: 25px;
}

.header-mobile-list {
  list-style: none;
  padding: 0;
}

.header-mobile-list>li {
  height: 40px;
  padding: 0px 40px;
  line-height: 40px;
  position: relative;
}

.header-mobile-link {
  text-decoration: none;
  color: rgb(2, 133, 181);
}

.header-mobile-list>li>i {
  color: rgb(2, 133, 181);
  font-size: 18px;
  position: absolute;
  left: 0;
  top: 11px;
}

.header-user {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.header-user-fb {
  background: #4267b2;
  border-radius: 15px;
  height: 30px;
  width: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 20px;
  margin: 5px 10px;
}

.header-user-fb a {
  height: 100%;
  width: 100%;
  color: #fff;
}

.header-user-login {
  background: rgba(0, 0, 0, .25);
  box-shadow: 0 0 5px #ccc;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
}

.header-mobile-user {
  position: fixed;
  background: rgba(0, 0, 0, .8);
  box-shadow: 0 0 10px #999;
  right: 0;
  padding: 60px 10px 10px;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  transform: translateY(-101%);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
}

.header-user-input:checked~.header-mobile-user {
  transform: translateY(0%);
}

.header-user-input:checked~.overlay {
  display: block;
}

.mobile-login-close {
  font-size: 20px;
  position: fixed;
  left: 1rem;
  top: 10px;
  opacity: 0.5;
}

.header-mobile-user-top {
  height: 120px;
  padding: 10px;
  position: relative;
}

.header-mobile-user-welcome {
  position: absolute;
  top: 10px;
}

.header-mobile-user-login {
  position: absolute;
  top: 50px;
}

.header-mobile-user-register {
  position: absolute;
  top: 50px;
  left: 8em;
}

.header-pc-left {
  display: none;
}

/* kết thúc header mobile */

/* bắt đầu container mobile */

.container-one {
  max-width: 740px;
  margin: auto;
  position: relative;
  overflow: hidden;
  height: 2000px;
}

.container-one-top {
  padding-left: 5px;
  padding: 60px 0;
  overflow: hidden;
}

.container-one-top-title span {
  float: left;
  font-size: 16px;
  margin: 0;
  color: #fff;
  padding: 0px 7px;
}

.container-one-top-title a {
  float: right;
  text-decoration: none;
  font-size: 14px;
  color: #fff;
  padding: 0px 7px;
}

.container-one-top-title {
  text-transform: uppercase;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

.container-one-top-title-left {
  float: left;
}

.container-one-top-title-right {
  float: right;
}

#film {
  display: none;
  position: absolute;
  left: 0;
  bottom: 8px;
  font-size: 30px;
  color: red;
}

#film1 {
  display: none;
  position: absolute;
  right: 0;
  bottom: 12px;
}

.container-one-top-content {
  width: 100%;
  float: left;
}

.container-one-top-content-top-hot_item {
  margin-bottom: 10px;
  margin: 0px 10px;
  position: relative;
}

.container-one-top-content-top-img {
  position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.container-one-top-content-top-img img {
  width: 100%;
  height: 100%;
}

.container-one-top-content-top-view {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.container-one-top-content-top-title {
  position: absolute;
  bottom: 20px;
  left: 10px;
}

.container-one-top-content-top-title h3 {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
}

.container-one-top-content-top-title h4 {
  display: none;
}

.container-one-top-content-top-FHD {
  position: absolute;
  bottom: 70px;
  left: 10px;
  background: #ff4c00;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
}

.container-one-top-content-top-sub {
  position: absolute;
  top: 10px;
  left: 10px;
  background: hsla(0, 0%, 100%, .75);
  border-radius: 3px;
  color: #0285b5;
  padding: 0 5px;
}

.container-one-top-content-top-point {
  position: absolute;
  bottom: 70px;
  right: 10px;
}

#star {
  color: #e89105;
  font-size: 18px;
}

.container-one-top-content-top-episode {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.container-one-bottom {
  float: left;
  position: relative;
  width: 100%;
}

.container-one-bottom-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  margin: 0px 10px;
}

.container-one-bottom-content-one {
  position: relative;
  color: #eee;
  height: 250px;
}

.container-one-bottom-content-one-img {
  width: 100%;
  height: 100%;
}

.container-one-bottom-content-one a {
  text-decoration: none;
}

.container-one-bottom-content-one img {
  width: 100%;
  height: 100%;
}

.item-star {
  position: absolute;
  bottom: 50px;
  right: 5px;
}

.item-CAM {
  position: absolute;
  bottom: 50px;
  left: 5px;
  background: #ff4c00;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  padding: 0 2px;
}
.item-title {
  position: absolute;
  bottom: 12px;
  left: 5px;
}
.film-views {
  position: absolute;
  bottom: 0;
  left: 5px;
  font-size: 9px;
}
.flim-likes {
  position: absolute;
  bottom: 0;
  right: 5px;
  font-size: 9px;
}
.item-sub {
  background: hsla(0,0%,100%,.75);
  border-radius: 3px;
  color: #0285b5;
  left: 5px;
  padding: 0 5px;
  position: absolute;
  top: 10px;
}


/* Tablet */
@media only screen and (min-width:740px) and (max-width:1023px) {

  /* bắt đầu header tablet */
  .header-grid {
    display: block;
  }

  .header-logo {
    float: left;
    height: 60px;
    padding: 10px 0;
  }

  .header-menu {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 10px;
    margin-top: 9px;
    width: 40px;
  }

  .header-user {
    float: right;
    height: 60px;
    margin-top: 9px;
  }

  .header-pc-left {
    display: none;
  }

  /* kết thúc header tablet */
}

/* PC */
@media only screen and (min-width:1024px) {

  /* bắt đầu header pc */
  .header-container {
    max-width: 1300px;
    margin: 0 auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 60px;
  }

  .header-grid {
    width: 100%;
    grid-template-columns: 10% 80% 10%;

  }

  .header-menu {
    display: none;
  }

  .header-pc-left {
    display: block;
    float: left;
    width: 100%;
    position: relative;
    height: 100%;
  }

  .header-pc-menu {
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
  }

  .header-pc-menu>li {
    list-style: none;
  }

  .header-pc-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: #ccc;
    font-size: 14px;
    padding: 20px 0;
  }

  .header-pc-search {
    width: 30%;
    margin-top: -30px;
    position: absolute;
    top: 24px;
    right: 10px;
  }

  #category-menu {
    display: none;
    width: 470px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 45px;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid silver;
  }

  #category:hover>a {
    color: #ff4c00;
  }

  #nation:hover>a {
    color: #ff4c00;
  }

  #odd-movie:hover>a {
    color: #ff4c00;
  }

  #series-movie:hover>a {
    color: #ff4c00;
  }

  #theater:hover>a {
    color: #ff4c00;
  }

  #coming-soon:hover>a {
    color: #ff4c00;
  }

  #category:hover #category-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(11, 30px);
  }

  #category-menu li:hover a {
    color: #ff4c00;
  }

  #nation-menu {
    display: none;
    width: 470px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 45px;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid silver;
  }

  #nation:hover #nation-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 30px);
  }

  #nation-menu li:hover a {
    color: #ff4c00;
  }

  #odd-movie-menu {
    display: none;
    width: 470px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 45px;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid silver;
    z-index: 100;
  }

  #odd-movie:hover #odd-movie-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 30px);
  }

  #odd-movie-menu li:hover a {
    color: #ff4c00;
  }

  #series-movie-menu {
    display: none;
    width: 470px;
    background: rgba(0, 0, 0, .8);
    position: absolute;
    top: 45px;
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid silver;
  }

  #series-movie:hover #series-movie-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 30px);
  }

  #series-movie-menu li:hover a {
    color: #ff4c00;
  }

  /* kết thúc header pc */
}